@font-face {
  font-family: "Noto Sans";
  src: url('./assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf') format('truetype');
  font-style: normal;
  font-weight: 400 500 700;
}
/*
===========
Variables
===========
*/


:root{
  font-size: 62.5%; /*10px*/
  --bg-gradient:linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --bg-color-1:hsl(200, 60%, 99%);
  --bg-color-2:#EEEDF1;
  --toggle-knob-color:hsl(200, 60%, 99%);
  --toggle-switch-color:#EEEDF1;
  --icon-stroke-color:hsl(0, 0%, 78%);
  --hover-text-color:hsl(200, 60%, 99%);
  --text-color: hsl(227, 75%, 14%);
--red:hsl(3, 77%, 44%);
--border-color:hsl(3, 71%, 56%);

 --heading-large: clamp(2.4rem, 1.6rem + 2.5vw, 3.2rem);   /* 24px → 32px */
  --heading-medium: clamp(1.6rem, 1.4rem + 1vw, 2rem);      /* 16px → 20px */

  /* Body text */
  --text-size-large: clamp(1.4rem, 1.2rem + 1vw, 1.8rem);   /* 14px → 18px */
  --text-size-regular: clamp(1.2rem, 1.0rem + 0.9vw, 1.6rem); /* 12px → 16px */
  --text-size-medium: clamp(1.2rem, 1.1rem + 0.5vw, 1.25rem); /* 12px → 12.5px */
  --text-size-regular-alt: clamp(1rem, 0.9rem + 0.4vw, 1.125rem); /* 10px → 11.25px */
  --text-size-small: clamp(0.9rem, 0.8rem + 0.3vw, 1rem);   /* 9px → 10px */

--spacing-large:6rem; /* 60px */
--spacing-medium: 3.2rem; /* 32px */
--spacing-regular: 1.6rem;/* 16px */
--spacing-small: .8rem; /* 8px */

--border-radius:12px;
--border-radius-2: 24px;

}


.dark-mode{
--bg-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
--bg-color-1: #1F2535;
--bg-color-2:hsl(225, 23%, 24%);
--icon-stroke-color:hsl(0, 0%, 78%);
--toggle-knob-color:hsl(200, 60%, 99%);
--toggle-switch-color: hsl(224, 12%, 36%);
--hover-text-color:hsl(227, 75%, 14%);

  --text-color: hsl(200, 60%, 99%);
--red:hsl(3, 86%, 64%);
--border-color:hsl(3, 86%, 64%)
  
--red:hsl(3, 77%, 44%);
--border-color:hsl(3, 71%, 56%);
}

/* || RESETS */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  line-height: 1.5;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  /* all: unset; */
  outline-color: transparent;
  border: none;
  outline: none;
  

}


li{
list-style-type:none;
}

html {
  height: 100%;


}

body {
  width: 100%;
  min-height: 100vh;
/* height:100%*/
}


/*
  ===========
  LAYOUT
  ===========
  */
  
body{
  background: var(--bg-gradient);
  color: var(--text-color);
  font-family: "Noto Sans", sans-serif;  
  padding: 10% 4%
}

/* HEADER */
header{
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin-inline: auto;
  padding: var(--spacing-small);
  background-color: var(--bg-color-1);
  border-radius: var(--border-radius);
  margin-bottom: var(--spacing-medium);
}


#theme-toggle {
  background-color: var(--bg-color-2);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--border-radius);

}
#theme-toggle svg {
stroke: var(--text-color);
fill: none;
}


#theme-toggle svg:last-child{
  display: none;
}
.dark-mode #theme-toggle svg:first-child{
  display: none;
}

.dark-mode #theme-toggle svg:last-child{
  display: block;
}

/* SECTION 2 */
#introduction-section{
   width: 90%;
   margin-inline:auto;
  margin-bottom: var(--spacing-medium);

}

#introduction-section h2{
  margin-bottom: 1.6rem;
}

#introduction-section .user-controls{
  
  display: flex;
  justify-content: space-around;
  width: 80%;
  max-width: 300px;
  margin-inline: auto;
}

.user-controls button{
  font-size: var(--text-size-large);
min-width: 70px;
  height: 50px;
  background-color: var(--bg-color-1);
  border: .5px solid var(--icon-stroke-color);
padding:  var(--spacing-small) var(--spacing-regular);
border-radius: var(--border-radius-2);
display: flex;
align-items: center;
justify-content: center;
color: var(--text-color);
}


 /* EXTENSION LIST ITEMS  SECTION */
 #extension-list-items{
  display: grid;
  grid-template-columns: 100%;
  gap: var(--spacing-regular);

 }
.extension-list-item{
  background-color: var(--bg-color-1);
  /* width: 90%; */
  max-width: 450px;
  margin-inline: auto;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-medium);
  padding: var(--spacing-regular);
}

.extension-list-item .top{
display: flex;
column-gap: var(--spacing-small);
}

.extension-list-item .bottom{
display: flex;
justify-content: space-between;
}

#remove-btn{
background-color: var(--bg-color-1);
height: 40px;
padding: 1.5em;
display: flex;
justify-content: center;
align-items: center;
border-radius: var(--border-radius-2);
border: .5px solid var(--icon-stroke-color);
box-shadow: .25px .25px , -.25px -.25px;
color: var(--text-color);

}

#input-toggle-switch{
  -webkit-appearance: none;
  -mz-appearance:none;
  appearance: none;

  position: relative;
  width: 45px;
  height: 25px;
  background-color: var(--toggle-switch-color);
  border-radius: 24px;

  transition:  all .3s;

}

#input-toggle-switch::after{
  content: "";
  background-color: var(--toggle-knob-color);

  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top:2.5px;
  left:3px;

  transition: all .3s;


}

#input-toggle-switch:checked{
  background-color: var(--red);
}

#input-toggle-switch:checked::after{
  left: 50%;
}


/*  uUTILITY CLASSES */
.user-controls button.red {
  background-color: var(--red);
  color: var(--hover-text-color);
  &:hover{
  background-color: var(--bg-color-1);
  color: var(--text-color);
  }
}

.user-controls button.default-background-color{
  background-color: var(--bg-color-1);
}

/*
===========
TYPOGRAPHY
===========
*/
body{
  font-size: var(--text-size-regular);
}

h2{
  font-size: var(--heading-large);
  text-align: center;
  font-weight: 700;
}

h4{
  font-size: var(--heading-medium);
  font-weight: 500;
}

p{
  font-size: var(--text-size-regular);
}

/*
=================================
BACKGROUND/IMAGES/COLORS
=================================
*/




 /*
=============
ACTIVE-STATES
=============
*/
#remove-btn:hover, #user-control-all:hover{
  background-color: var(--red);
  color: var(--hover-text-color);
  border: 0px       ;

}

#user-control-active:hover, #user-control-inactive:hover {
background-color:var(--bg-color-2);
border: 0px;
}

button{
  transition: all .2s;

}

input:focus, button:focus, #remove-btn:focus, #input-toggle-switch:focus{
 outline: 2px solid var(--red);
}

/*
=====================================
LARGE SCREENS 
=====================================
*/

/* * Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
  #extension-list-items{
    width: 100%;
grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
justify-content: space-between;
}
 #extension-list-item{
width: 100%;
 }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
  body{
  padding: 2% 10%
}
header,#introduction-section,#extension-list-items{
  max-width: 100%;
width: 100%;
}
  #introduction-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
#introduction-section h2{
  margin-bottom: 0;
  width: 40%;
  text-align: left;
  height: 100%;

}
  #introduction-section .user-controls{
  width: 40%;
  max-width: 300px;
  margin-inline: 0;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){}*/

